name: Vulkan-Engine (Bazel)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Bazel
      uses: bazelbuild/setup-bazelisk@v3

    - name: Install Vulkan SDK
      run: sudo apt-get update && sudo apt-get install -y libvulkan-dev      
    
    - name: Bazel build
      run: bazel build //...

    - name: Bazel test
      run: bazel test //...
