name: Vulkan-Engine (Bazel)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache Bazel
      uses: actions/cache@v4
      with:
        path: ~/.cache/bazel
        key: bazel-${{ runner.os }}-${{ github.ref_name }}
        restore-keys: |
          bazel-${{ runner.os }}-

    - name: Install system dependencies (Vulkan + GLFW)
      run: |
        sudo apt-get update
         sudo apt-get install -y \
            libvulkan-dev \
            libglfw3-dev

    - name: Install Bazelisk (no cache)
      run: |
        curl -L https://github.com/bazelbuild/bazelisk/releases/latest/download/bazelisk-linux-amd64 -o bazel
        chmod +x bazel
        sudo mv bazel /usr/local/bin/bazel

    - name: Bazel version
      run: bazel version

    - name: Bazel build
      run: bazel build //...
