name: Vulkan-Engine (Bazel)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Bazelisk (no cache)
      run: |
        curl -L https://github.com/bazelbuild/bazelisk/releases/latest/download/bazelisk-linux-amd64 -o bazel
        chmod +x bazel
        sudo mv bazel /usr/local/bin/bazel

    - name: Bazel version
      run: bazel version

    - name: Bazel build
      run: bazel build //...

    - name: Bazel test
      run: bazel test //...
